---
---
<!DOCTYPE html>
<html>

    {% include head.html %}

    <body>

        <div class="curtain-header curtain-header-accent" style="background-image: url('/images/headers/header.jpg');"></div>

        <div class="coverup">
            <div class="container page-content col-md-offset-2 col-md-8 index-intro">

                <div class="intro-blurb">
                    <p class="intro-highlight">Hi, I'm Lloyd Torres.</p>

                    <p>I'm a Software Development Engineer at <a href="https://www.amazon.com/">Amazon</a> based in Seattle. I'm also a Computer Engineering graduate from the <a href="https://uwaterloo.ca/">University of Waterloo</a> in Canada.</p>

                    <p>First and foremost, I enjoy building great products for customers: whether that's a beautiful app experience, or an intuitive productivity tool. Behind the scenes, I'm a strong advocate for efficient engineering processes and always raising the bar for more streamlined operations. I thrive in environments where I can work across teams and organizations to build reliable solutions for complex, unknown problem spaces.</p>

                    <p>I've worked as a software engineer in Big Tech, large financial institutions and scrappy startups, touching on tech stacks ranging from mobile apps to backend services to embedded systems. My breadth of work experiences, and the range of environments in which I've applied them, have driven me to build robust software that just works.</p>

                    <p>In my free time I'm all about hiking, photography and bouldering. I also travel around the world as much as I can: so far I've been to five continents,  17 countries, 13 US states and 8 Canadian provinces/territories!</p>

                    <p>Need to get in touch? <a href="mailto:lloyd@lloydtorres.com">Send me an e-mail</a>! I can also be found on <a href="https://www.linkedin.com/in/lartorres">LinkedIn</a> and <a href="https://github.com/lloydtorres">GitHub</a>.</p>
                </div>

            </div><!-- /container -->
        </div>

        <div id="projects" class="curtain-header generic-container projects-container">
            <div class="container page-content col-md-offset-2 col-md-8">
              <div class="row projects-title-space">
                  <div class="col-sm-6">
                    <h1>Personal Projects</h1>
                  </div>
              </div>

              {% assign pages = site.pages | sort: 'sequence' %}
              <div class="row">
                  {% for file in pages %}
                      {% for cat in file.categories %}
                          {% if cat == 'projects' %}
                              <div class="col-sm-6">
                                  <div class="project-entry">
                                      <div class="log-img">
                                          <a href="{{ file.url }}"><img src="{{ file.prev_banner }}" title="{{ file.title }}" alt="{{ file.title }}"/></a>
                                      </div>
                                      <div class="log-desc">
                                          <h2><a href="{{ file.url }}">{{ file.title }}</a></h2>
                                          <p class="desc">{{ file.description }}</p>
                                      </div>
                                      <div class="lefticons">
                                          {% if file.google_play %}
                                              <a href="{{ file.google_play }}" title="{{ file.title }} on Google Play"><span class="fa fa-android"></span></a>
                                          {% endif %}
                                          {% if file.link %}
                                              <a href="{{ file.link }}" title="{{ file.title }} on the Web"><span class="fa fa-external-link-square"></span></a>
                                          {% endif %}
                                          {% if file.youtube %}
                                              <a href="{{ file.youtube }}" title="{{ file.title }} on YouTube"><span class="fa fa-youtube-play"></span></a>
                                          {% endif %}
                                          {% if file.download %}
                                              <a href="{{ file.download }}" title="Download {{ file.title }}"><span class="fa fa-cloud-download"></span></a>
                                          {% endif %}
                                          {% if file.github %}
                                              <a href="{{ file.github }}" title="{{ file.title }} on GitHub"><span class="fa fa-code"></span></a>
                                          {% endif %}
                                      </div>
                                      <a href="{{ file.url }}" class="more">Read more<span class="fa fa-chevron-circle-right"></span></a>
                                  </div>
                              </div>
                          {% endif %}
                      {% endfor %}
                  {% endfor %}
              </div>

            </div><!-- /container -->
        </div>

        <div class="curtain-header generic-container" style="background-image: url('/images/headers/projects-header.jpg'); background-position: bottom;">
            <div class="main-quote generic-container">
                <div class="main-quote-container"><div class="main-quote-holder">ad astra per aspera</div></div>
            </div>
        </div>

        {% include footer.html %}

  </body>

</html>
