<footer class="coverup">

    <div class="site-footer col-md-offset-2 col-md-8 col-center">

        <div class="foot-column-left">
            <div class="divider" style="height: 30px;"><div class="inner"></div></div>
        </div>
        <div class="foot-column-center">
            <div class="col-center">
                <div class="social-icons">
                    <a href="mailto:contact.lloyd.torres@gmail.com" title="Send me an e-mail!"><span class="fa fa-send fa-2x"></span></a>
                    <a href="https://www.linkedin.com/in/lartorres" title="Lloyd Torres on LinkedIn"><span class="fa fa-linkedin fa-2x"></span></a>
                    <a href="https://github.com/lloydtorres" title="lloydtorres on GitHub"><span class="fa fa-github-alt fa-2x"></span></a>
                    <a href="https://twitter.com/ImperatorTorres" title="@ImperatorTorres on Twitter"><span class="fa fa-twitter fa-2x"></span></a>
                </div>
            </div>
        </div>
        <div class="foot-column-right">
            <div class="divider" style="height: 30px;"><div class="inner"></div></div>
        </div>

        <div class="col-center">
            <p>© 2014 Lloyd Torres. All rights reserved.</p>
        </div>

    </div>

</footer>
