<!-- magic Liquid selector -->
{% assign setActive = 'none' %}
{% assign urlArray = page.url | split:"/" %}
{% for section in urlArray limit: 2 %}
    {% if section == 'projects' %}
        {% assign setActive = 'projects' %}
    {% elsif section == 'log' %}
        {% assign setActive = 'log' %}
    {% elsif section == 'tag' %}
        {% assign setActive = 'none' %}
    {% elsif section == 'index.html' %}
        {% assign setActive = 'about' %}
    {% endif %}
{% endfor %}

<nav class="navbar-fixed-top site-header" role="navigation" style="z-index:1000;">
    <div class="container col-md-offset-2 col-md-8">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar">
            <img src="/images/icons/menu.png" width = "26px"/>
            </button>
            <a class="navbar-brand site-title" href="{{ site.baseurl }}/">{{ site.title | upcase }}</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right site-nav">
                <li><a href="/" class="{% if setActive == 'about' %}active{% endif %}"><img src="/images/icons/about.png" class="navicons"/> About</a></li>
                <li><a href="/projects/" class="{% if setActive == 'projects' %}active{% endif %}"><img src="/images/icons/projects.png" class="navicons"/> Projects</a></li>
                <li><a href="/log/" class="{% if setActive == 'log' %}active{% endif %}"><img src="/images/icons/log.png" class="navicons"/> Adventure Log</a></li>
            </ul>
        </div>
        <!--/.navbar-collapse -->
  </div><!-- /container -->
</nav>
