<header class="site-header">

  <div class="wrapper">

    <a class="site-title" href="{{ site.baseurl }}/">{{ site.title | upcase }}</a>

    <nav class="site-nav">
      <div class="trigger">
		<a href="https://www.linkedin.com/pub/lloyd-torres/80/805/781"><img src="/images/linkedin.png"/></a>&nbsp;&nbsp;&nbsp;
		<a href="https://github.com/lloydtorres"><img src="/images/github.png"/></a>&nbsp;&nbsp;&nbsp;
		<a href="/blog/"><img src="/images/blog.png"/></a>
      </div>
    </nav>

  </div>

</header>
