<nav class="navbar-fixed-top site-header" role="navigation" style="z-index:1000;">
    <div class="container col-md-offset-2 col-md-8">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar">
            <img src="/images/menu.png" width = "26px"/>
            </button>
            <a class="navbar-brand site-title" href="{{ site.baseurl }}/">{{ site.title | upcase }}</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right site-nav">
                <li><a href="/"><img src="/images/about.png" class="navicons"/> About</a></li>
                <li><a href="/projects/"><img src="/images/projects.png" class="navicons"/> Projects</a></li>
                <li><a href="/log/"><img src="/images/log.png" class="navicons"/> Adventure Log</a></li>
            </ul>
        </div>
        <!--/.navbar-collapse -->
  </div><!-- /container -->
</nav>
