/**
 * Reset some basic elements
 */
body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
    margin: 0;
    padding: 0;
}

/**
 * Basic styling
 */
body {
    font-family: $base-font-family;
    font-size: $base-font-size;
    line-height: $base-line-height;
    background-color: $grey-super-light !important;
    font-weight: 300;
    color: $text-color;
    -webkit-text-size-adjust: 100%;
    padding-top: 50px;
    @include media-query($on-laptop) {
        padding-top: 70px;
    }
}

strong {
    font-weight: 700;
}

/**
 * Set `margin-bottom` to maintain vertical rhythm
 */
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
ul, ol, dl, figure,
%vertical-rhythm {
    margin-bottom: $spacing-unit / 2;
}

/**
 * Figures
 */
figure {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding: 12px;
}

figcaption {
    font-size: 12px;
    font-color: $grey-color-dark;
    font-style: italic;
}

/**
 * Lists
 */
ul, ol {
    margin-left: $spacing-unit;
}

li {
    > ul,
    > ol {
         margin-bottom: 0;
    }
}

/**
 * Headings
 */
h1, h2, h3, h4, h5, h6 {
    font-weight: 300;
}


/**
 * Links
 */
a {
    -webkit-transition: color 300ms;
    -moz-transition:    color 300ms;
    -o-transition:      color 300ms;
    transition:         color 300ms;

    &:link, &:visited, &:active {
        color: $mignonic-blue;
    }

    &:hover, &:focus {
        color: $grey-color-dark !important;
        text-decoration: none !important;
    }
}

/**
 * Blockquotes
 */
blockquote {
    color: $grey-color;
    border-left: 4px solid $grey-color-light;
    padding-left: $spacing-unit / 2;
    font-size: 18px;
    letter-spacing: -1px;
    font-style: italic;

    > :last-child {
        margin-bottom: 0;
    }
}

/**
 * Code formatting
 */
pre,
code {
    font-size: 15px;
    border: 1px solid $grey-color-light;
    border-radius: 3px;
    color: #254ec7 !important;
    background-color: #F4F2F9 !important;

    @include media-query($on-palm) {
        font-size: 16px !important;
    }
}

code {
    padding: 1px 5px;
}

pre {
    padding: 8px 12px;
    overflow-x: scroll;

    > code {
        border: 0;
        padding-right: 0;
        padding-left: 0;
    }
}

/**
 * Helpers
 */
%clearfix {

    &:after {
        content: "";
        display: table;
        clear: both;
    }
}

.col-center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.white-link {
    a:link, a:active, a:visited {
        color: white;
    }
}

/**
 * Icons
 */
.icon {

    > svg {
        display: inline-block;
        width: 16px;
        height: 16px;
        vertical-align: middle;

        path {
            fill: $grey-color;
        }
    }
}

/**
 * Responsive Slides
 */

.rslides {
    position: relative;
    margin-left: auto !important;
    margin-right: auto !important;
    text-align: center;
    list-style: none;
    overflow: hidden;
    width: 100%;
    padding: 0;
    margin: 0;
}

.rslides li {
    -webkit-backface-visibility: hidden;
    position: absolute;
    display: none;
    width: 100%;
    left: 0;
    top: 0;
}

.rslides li:first-child {
    position: relative;
    display: block;
    float: left;
}

.rslides img {
    display: block;
    height: auto;
    width: 100%;
    border: 0;
}