/**
 * Site header
 */
.site-header {
    background-color: $mignonic-blue;
    margin-top: -2px;
    top: 0%;
    left: 0%;
    width: 100%;
    z-index: 1000;
}

.site-title {
    font-family: 'Raleway', sans-serif;
    font-size: 28px !important;
    margin-top: 3px;
    margin-bottom: -1px;
    margin-left: -17px;
    float: left;

    &:hover, &:visited, &:link, &:active, &:focus {
        text-decoration: none;
        color: white !important;
    }

    @include media-query($on-laptop) {
        margin-left: 0px;
        margin-top: 12px;
    }
}

.site-nav {
    margin-top: 2px !important;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;

    a {
        -webkit-transition: background-color 300ms;
        -moz-transition:    background-color 300ms;
        -o-transition:      background-color 300ms;
        transition:         background-color 300ms;

        &:link, &:visited, &:active {
            color: $white-color;
            background-color: $mignonic-blue;
        }

        &:hover, &:focus {
            background-color: $grey-color-dark !important;
            color: white !important;
        }
    }

    .active {
        background-color: $grey-color-dark !important;
        color: white !important;
        font-weight: bold;
    }
}

.menu-button {
    color: white;
    font-size: 30px !important;
    vertical-align: 0 !important;
    line-height: 20px !important;

    @include media-query($on-laptop) {
        margin-top: 11px;
    }
}

.navicons {
    padding-right: 3px;
}

/**
 * Site footer
 */
.site-footer {
    padding: $spacing-unit;
    font-size: 10px;
    font-family: 'Roboto', sans-serif;
    color: $grey-color;
}

.foot-column-left {
    float: left;
    width: 35%;
    @include media-query($on-mobile) {
        width: 20%;
    }
}

.foot-column-right {
    float: right;
    width: 35%;
    @include media-query($on-mobile) {
        width: 20%;
    }
}

.foot-column-center {
    display: inline-block;
    width: 25%;
    @include media-query($on-mobile) {
        width: 50%;
    }
}

.social-icons {
    span {
        padding: 5px;
    }
}

/**
 * Jumbotron
 */
 .curtain-header {
    overflow: hidden;
    position: relative;
    width: 100%;
    display: table;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    @media (max-width: $on-palm) {
        background-attachment: scroll;
    }
 }

 .super-intro {
    height: 95vh;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    font: 0/0 a;

    .super-container {
        display: inline-block;
        vertical-align: middle;
        margin-top: -100px;
    }

    h1 {
        display: inline-block;
        font-size: 50px;
        font-family: 'Raleway', sans-serif;
        letter-spacing: 30px;
        text-transform: uppercase;
        color: white;
        margin-right: -30px;
        line-height: 1;
        text-shadow: 0 0 10px $grey-color-dark;

        @include media-query($on-mobile) {
            font-size: 40px;
            letter-spacing: 20px;
            margin-right: -20px;
        }
    }

    p {
        font-size: 20px;
        font-family: 'Roboto', sans-serif;
        color: white;
        text-shadow: 0 0 10px $grey-color-dark;
        margin-top: 20px;
        font-weight: bold;

        @include media-query($on-palm) {
            margin-top: 30px;
        }
    }

    .super-social-icons {
        margin-top: 100px;

        span {
            margin-left: 20px;
            margin-right: 20px;
            color: white;
            -webkit-transition: -webkit-transform 250ms, text-shadow 100ms;
            -moz-transition:    -moz-transform 250ms, text-shadow 100ms;
            -o-transition:      -o-transform 250ms, text-shadow 100ms;
            transition:         transform 250ms, text-shadow 100ms;

            &:hover, &:visited, &:link, &:active, &:focus {
                -webkit-transform: translateY(-5px);
                -moz-transform: translateY(-5px);
                -o-transform: translateY(-5px);
                transform: translateY(-5px);
                text-shadow: 0 0 20px $grey-super-light;
            }
        }
    }
 }

 .super-intro:before {    /* omg centering */
    content: ' ';
    display: inline-block;
    vertical-align: middle;
    height: 100%;
}

 .curtain-overlay {
    width: 100%;
    margin: 0 auto;
    height: 300px;
    text-align: center;
    font: 0/0 a;
    
    img {
        display: inline-block;
        vertical-align: middle;
        width: 200px;
        border: 3px solid white;

        @include media-query($on-mobile) {
            width: 150px;
        }
    }

    h1 {
        display: inline-block;
        font-size: 50px;
        font-family: 'Raleway', sans-serif;
        letter-spacing: 30px;
        text-transform: uppercase;
        color: white;
        vertical-align: middle;
        margin-right: -30px;
        line-height: 1;
        text-shadow: 0 0 10px $grey-color-dark;

        @include media-query($on-mobile) {
            font-size: 30px;
            letter-spacing: 15px;
            margin-right: -15px;
        }
    }

    @include media-query($on-mobile) {
        height: 200px;
    }
 }

.curtain-overlay:before {    /* omg centering */
    content: ' ';
    display: inline-block;
    vertical-align: middle;
    height: 100%;
}


.curtain-overlay-expanded {
    position: relative;
    height: auto;
}

.curtain-spacer {
    height: 350px;
    content: '';
}

.content-lifter {
    margin-top: -380px;
}

.expanded-overlay-content {
    display: block;
    margin-top: -3px;
    padding-bottom: 10px;

    a {
        -webkit-transition: text-shadow 300ms;
        -moz-transition:    text-shadow 300ms;
        -o-transition:      text-shadow 300ms;
        transition:         text-shadow 300ms;

        &:link, &:visited, &:active {
            color: white !important;
        }

        &:hover, &:focus {
            color: white !important;
            text-shadow: 0 0 5px $grey-super-light;
        }
    }

    h1 {
        font-family: 'Raleway', sans-serif;
        color: white;
        font-size: 35px;
        text-shadow: 0 0 10px $grey-color-dark;
        margin-top: -5px;
    }

    h3 {
        font-family: 'Raleway', sans-serif;
        text-transform: uppercase;
        color: white;
        font-size: 20px;
        text-shadow: 0 0 10px $grey-color-dark;
    }

    .tags {
        span {
            font-family: 'Roboto', sans-serif;
            text-transform: lowercase;
            font-size: 12px;
            font-weight: bold;
            background-color: white;
            color: $mignonic-blue;
            padding: 2px;
            margin-right: 5px;

            a {
                -webkit-transition: color 300ms;
                -moz-transition:    color 300ms;
                -o-transition:      color 300ms;
                transition:         color 300ms;

                &:link, &:visited, &:active {
                    color: $mignonic-blue !important;
                }

                &:hover, &:focus {
                    color: $grey-color-dark !important;
                    text-decoration: none !important;
                }
            }
        }
    }
}

.coverup {
    background: $grey-super-light;
    position: relative;
    width: 100%;
    height: 100%;
    overflow: auto;
}

.white-background {
    background: white !important;
}

/**
 * 404'd
 */
.error-background {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: -1000;
    background-color: #b8b8b8;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: right top;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.error-message {
    position: relative;
    color: white;
    margin-top: 80px;
    text-shadow: 0 0 10px $grey-color-dark;
    z-index: 10;

    h1 {
        font-size: 80px;
        font-family: 'Raleway', sans-serif;
        letter-spacing: -1px;
        line-height: 1;
    }

    .subtitle {
        margin-top: 25px;
    }

    p {
        font-size: 18px;
        font-family: 'Roboto', sans-serif;

        @include media-query($on-mobile) {
            font-size: 20px;
        }
    }

    a:link, a:active, a:visited {
        color: white;
    }

    @include media-query($on-mobile) {
        margin-top: 50px;
    }
}

.error-footer {
    position: fixed;
    z-index: 9;
    font-family: 'Roboto', sans-serif;
    font-size: 10px;
    color: white;
    bottom: 0;
    left: 0;
    padding: 20px;
}

.error-corner-img {
    position: fixed;
    z-index: 5;
    bottom: 0;
    right: 0;
    padding: 20px;
    width: 230px;

    @include media-query($on-mobile) {
        width: 200px;
    }
}

/**
 * Page content
 */
.pushdown {
    margin-top: 12px;
}

.superpushdown {
    margin-top: 20px;
}

.pusharound {
    margin-top: 20px !important;
    margin-bottom: 20px !important;
}

.superpusharound {
    margin-top: 40px !important;
    margin-bottom: 20px !important;
}

.paddup {
    padding-top: 25px;
}

.paddown {
    padding-bottom: 25px;
}

.padaround {
    padding-bottom: 12px;
    padding-top: 2px;
}

.border-override {
    border: 0px !important;
}

.intro {
    margin-top: 20px;
    margin-bottom: 25px;

    p {
        font-size: 15px;

        @include media-query($on-palm) {
            font-size: 18px;
        }

    }

    .emphasis {
        font-size: 17px;

        @include media-query($on-palm) {
            font-size: 20px;
        }
    }
}

.page-content {
    padding: $spacing-unit 0;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    line-height: auto !important;

    img {
        display: block;
        max-width: 100%;
        margin: 0 0 1rem;
        border-radius: 5px;
        margin-left:  auto;
        margin-right: auto;
    }

    ul {
        margin-left: 30px;
    }

    @include media-query($on-palm) {
        font-size: 17px;
    }
}

.resume-space {
    margin-top: 50px;
    margin-bottom: 50px;
}

.resume-card {
    position: relative;
    background-color: white;
    margin-bottom: 12px;
    border-bottom: 5px solid $mignonic-blue;
    -moz-box-shadow: 0px 3px 5px #333;
    -webkit-box-shadow: 0px 3px 5px #333;
    -o-box-shadow:  0px 3px 5px #333;
    box-shadow: 0px 3px 5px #333;
    -webkit-transition: -webkit-box-shadow 250ms;
    -moz-transition:    -moz-box-shadow 250ms;
    -o-transition:      -o-box-shadow 250ms;
    transition:         box-shadow 250ms;

    &:hover {
        -moz-box-shadow: 0px 3px 10px #111;
        -webkit-box-shadow: 0px 3px 10px #111;
        -o-box-shadow: 0px 3px 10px #111;
        box-shadow: 0px 3px 10px #111;
    }
}

.resume-content {
    padding: 15px;
    margin-bottom: 12px;
    width: 100%;

    h2 {
        margin-top: -3px;
        margin-bottom: 5px;
        font-size: 17px;
        text-transform: uppercase;
        font-family: 'Raleway', sans-serif;
        color: $mignonic-blue;

        a:link {
            color: $mignonic-blue;
        }
    }

}

.resume-entry {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
}

.job-entry {
    height: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    display: block;
    font-family: 'Roboto', sans-serif;

    .company {
        font-size: 15px;
        font-weight: bold;
        @include media-query($on-palm) {
            font-size: 18px;
        }
    }
}

.resume-divider {
    
    height: 15px;

    .inner {
        border-bottom: 2px solid $grey-less-light;
        height: 50%;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }
}

.post-blurb {
    padding-bottom: 7px !important;
}

.post-list {
    list-style: none;
    
    > li {
        margin-top: -25px;
        margin-left: -30px;
    }
    
    ul {
        list-style-type: none;
    }
}

.post-meta {
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    color: $grey-color;
}

.post-link {
    display: block;
    font-size: 24px;
}

.subscript {
    font-size: 10px;
    font-style: italic;
    float: right;
}

/**
 * Projects
 */

.project-entry {
    position: relative;
    background-color: white;
    width: 100%;
    min-height: 350px;
    border-bottom: 5px solid $mignonic-blue;
    margin-bottom: 30px;
    overflow: hidden;
    -moz-box-shadow: 0px 3px 5px #333;
    -webkit-box-shadow: 0px 3px 5px #333;
    -o-box-shadow:  0px 3px 5px #333;
    box-shadow: 0px 3px 5px #333;
    -webkit-transition: -webkit-box-shadow 250ms;
    -moz-transition:    -moz-box-shadow 250ms;
    -o-transition:      -o-box-shadow 250ms;
    transition:         box-shadow 250ms;

    img {
        width: 100%;
        border-radius: 0px;
        top: -9999px;
        bottom: -9999px;
        left: -9999px;
        right: -9999px;
        margin: auto;
        position: absolute;
    }

    &:hover {
        -moz-box-shadow: 0px 3px 10px #111;
        -webkit-box-shadow: 0px 3px 10px #111;
        -o-box-shadow: 0px 3px 10px #111;
        box-shadow: 0px 3px 10px #111;
    }
}

.card-front {
    min-height: 350px !important;
    margin-top: 20px !important;
    margin-bottom: 20px !important;
}

.more {
    position: absolute;
    bottom: 0;
    right: 0;
    display: block;
    padding: 10px;
    padding-right: 17px;
    font-size: 12px;
    @include media-query($on-palm) {
        font-size: 15px;
    }
    span {
        margin-left: 5px;
    }
}

.lefticons {
    position: absolute;
    bottom: 0;
    left: 0;
    display: block;
    padding: 10px;
    padding-left: 17px;

    span {
        margin-right: 7px;
        font-size: 20px;
        @include media-query($on-palm) {
            font-size: 23px;
        }
    }
}

/**
 * Posts
 */

 .log-entry {
    position: relative;
    background-color: white;
    width: 100%;
    height: auto;
    border-bottom: 5px solid $mignonic-blue;
    margin-bottom: 20px;
    -moz-box-shadow: 0px 3px 5px #333;
    -webkit-box-shadow: 0px 3px 5px #333;
    -o-box-shadow:  0px 3px 5px #333;
    box-shadow: 0px 3px 5px #333;
    -webkit-transition: -webkit-box-shadow 250ms;
    -moz-transition:    -moz-box-shadow 250ms;
    -o-transition:      -o-box-shadow 250ms;
    transition:         box-shadow 250ms;

    img {
        width: 100%;
        border-radius: 0px;
        top: -9999px;
        bottom: -9999px;
        left: -9999px;
        right: -9999px;
        margin: auto;
        position: absolute;
    }

    &:hover {
        -moz-box-shadow: 0px 3px 10px #111;
        -webkit-box-shadow: 0px 3px 10px #111;
        box-shadow: 0px 3px 10px #111;
    }
}

.log-img {
    height: 150px;
    position: relative;
    overflow: hidden;
    border: 1px solid $grey-less-light;

    @include media-query($on-mobile) {
        height: 120px;
    }
}

.log-desc {
    padding: 15px;
    margin-bottom: 15px;

    h2 {
        margin-top: -3px;
        font-size: 17px;
        text-transform: uppercase;
        font-family: 'Raleway', sans-serif;
        color: $mignonic-blue;

        a:link {
            color: $mignonic-blue;
        }
    }

    .post-meta {
        margin-top: -7px;
    }
}

.post {
    margin-top: 10px;
    -moz-box-shadow: 0px 3px 5px #333;
    -webkit-box-shadow: 0px 3px 5px #333;
    -o-box-shadow:  0px 3px 5px #333;
    box-shadow: 0px 3px 5px #333;
    background: white;
}

.post-content {
    padding: 20px;
    margin-bottom: $spacing-unit;
    font-family: 'Roboto', sans-serif;
    min-height: 350px;

    p {
        margin-bottom: 15px;
        margin-top: 15px;
    }

    h2 {
        margin-top: 40px;
        font-size: 17px;
        text-transform: uppercase;
        font-family: 'Raleway', sans-serif;
        color: $mignonic-blue;
    }

    h3 {
        font-size: 20px;
    }

    h4 {
        font-size: 18px;
    }
}

.external-link-box {
    background-color: $mignonic-blue;
    height: 40px;
    width: 100%;
    display: table;
    span {
        margin-right: 5px;
    }
}

.external-link-cell {
    -webkit-transition: background-color 300ms;
    -moz-transition:    background-color 300ms;
    -o-transition:      background-color 300ms;
    transition:         background-color 300ms;

    p {
        color: white;
        margin: 0 auto !important;
    }

    display: table-cell;
    &:hover {
        text-decoration: none !important;
        background-color: $grey-color-dark;
    }
    height: 40px;
    text-align: center;
    vertical-align: middle;
}

.post-comments {
    padding: 20px;
}

.caption {
    font-size: 12px;
    font-color: $grey-color-dark;
    font-style: italic;
}

.featuretext-lg {
    font-size: 28px;
    font-family: 'Roboto', sans-serif;
}

.featuretext-md {
    font-size: 21px;
    font-family: 'Roboto', sans-serif;
}

.featuretext-sm {
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
}

.cyan-emph {
    font-weight: 400;
    color: #00bdde;
}

.emptyspace {
    display: table-cell;
    height: 100px;
    vertical-align: middle;
    text-align: center;
}

.div-column-left {
    float: left;
    width: 25%;
    @include media-query($on-mobile) {
        width: 10%;
    }
}

.div-column-right {
    float: right;
    width: 25%;
    @include media-query($on-mobile) {
        width: 10%;
    }
}

.div-column-center {
    display: inline-block;
    width: 45%;
    @include media-query($on-mobile) {
        width: 80%;
    }
}

.divider {
    
    height: 37px;

    .inner {
        border-bottom: 2px solid $grey-darker;
        height: 50%;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }
}

.social-icons-large {
    margin-top: -20px !important;
    padding-bottom: 20px !important;
    span {
        padding: 5px;
        margin-bottom: -1px;
    }
}

.social-icons-very-large {
    span {
        margin-left: 10px;
        margin-right: 10px;
    }
}

.market-badges {
    position: relative;
    margin-top: -10px;
    margin-bottom: 20px;
    text-align: center;

    img {
        height: 35px;
        margin-left: 7px;
        margin-right: 7px;

        @include media-query($on-mobile) {
            height: 30px;
            margin-top: 5px;
            margin-left: 4px;
            margin-right: 4px;
        }
    }
}

.market-badges-large {
    display: inline !important;
    margin-left: 10px !important;
    margin-right: 10px !important;
    height: 45px;
    max-width: 150px;
}