/**
 * Site header
 */
.site-header {
    background-color: $mignonic-blue;
    margin-top: -3px;
    margin-bottom: -1px !important;
    top: 0;
    left: 0;
    width: 100%;
    border-radius: 0px !important;
    border: 0px !important;
    @include media-query($on-palm) {
        margin-top: 0px;
    }
}

.site-title {
    font-family: 'Raleway', sans-serif;
    font-size: 30px !important;
    margin-top: 1px;
    float: left;

    &:hover, &:visited, &:link, &:active, &:focus {
        text-decoration: none;
        color: white !important;
    }

    @include media-query($on-palm) {
        margin-top: 3px;
    }
}

.site-nav {
    margin-top: 2px !important;
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    font-size: 15px;
    @include media-query($on-tablet) {
        font-size: 18px;
    }

    a {
        -webkit-transition: background-color 300ms;
        -moz-transition:    background-color 300ms;
        -o-transition:      background-color 300ms;
        transition:         background-color 300ms;

        &:link, &:visited, &:active {
            color: $white-color;
            background-color: $mignonic-blue;
        }

        &:hover, &:focus {
            background-color: $grey-color-dark !important;
            color: white !important;
        }
    }

    .active {
        background-color: $grey-color-dark !important;
        color: white !important;
        font-weight: bold;
    }
}

.menu-button {
    color: white;
    font-size: 30px !important;
    margin-right: -10px;
}

.navicons {
    padding-right: 3px;
}

/**
 * Site footer
 */
.site-footer {
    font-size: 10px;
    margin-top: 15px;
    color: $grey-color;

    p {
        font-family: 'Roboto', sans-serif;
        font-weight: 300;
        margin-top: 10px;
    }
}

.foot-column-left {
    float: left;
    width: 35%;
    @include media-query($on-mobile) {
        width: 20%;
    }
}

.foot-column-right {
    float: right;
    width: 35%;
    @include media-query($on-mobile) {
        width: 20%;
    }
}

.foot-column-center {
    display: inline-block;
    width: 25%;
    @include media-query($on-mobile) {
        width: 50%;
    }
}

.social-icons {
    span {
        padding: 5px;
    }
}

/**
 * Jumbotron
 */
 .curtain-header {
    position: static;
    width: 100%;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    @media (max-width: $on-tablet) {
        background-attachment: scroll;
    }
 }

 .super-intro {
    height: 100vh;
    position: relative;
    overflow: hidden;
 }

 .super-container {
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);

    h1 {
        display: inline-block;
        font-size: 70px;
        font-family: 'Raleway', sans-serif;
        text-transform: uppercase;
        color: white;
        line-height: 1;
        text-shadow: 0 0 10px $grey-color-dark;

        @include media-query($on-tablet) {
            font-size: 50px;
        }

        @media screen and (orientation: landscape) and (max-width: $on-palm) {
            font-size: 30px;
        }
    }

    p {
        font-size: 20px;
        font-family: 'Roboto', sans-serif;
        font-weight: normal;
        color: white;
        text-shadow: 0 0 10px $grey-color-dark;
        margin-top: 20px;
        font-weight: bold;
        
        @include media-query($on-mobile) {
            margin-top: 0px;
        }

        @media screen and (orientation: landscape) and (max-width: $on-palm) {
            font-size: 12px;
        }
    }

    .mobile-subtitle {
        margin-top: 30px;

        p {
            margin-top: 0px;
            
            @include media-query($on-mobile) {
                font-size: 18px !important;
            }

            @media screen and (orientation: landscape) and (max-width: $on-palm) {
                font-size: 12px;
            }
        }
    }

    .super-social-icons {
        position: relative;
        margin-top: 100px;

        span {
            margin-left: 20px;
            margin-right: 20px;
            color: white;
            -webkit-transition: text-shadow 100ms;
            -moz-transition:    text-shadow 100ms;
            -o-transition:      text-shadow 100ms;
            transition:         text-shadow 100ms;

            &:hover, &:active, &:focus {
                text-shadow: 0 0 20px $grey-super-light;
            }
        }

        @media screen and (orientation: landscape) and (max-width: $on-palm) {
            margin-top: 50px
        }

        p:not(:first-child) {
            margin-top: 20px;
        }
    }
}

 .curtain-overlay {
    position: relative;
    min-height: 300px;

    @include media-query($on-mobile) {
        min-height: 200px;
    }
 }

 .curtain-overlay-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);

    img {
        width: 200px;
        display: block;
        margin-left: auto;
        margin-right: auto;

        @include media-query($on-mobile) {
            width: 150px;
        }
    }

    h1 {
        font-size: 60px;
        font-family: 'Raleway', sans-serif;
        text-align: center;
        text-transform: uppercase;
        color: white;
        line-height: 1;
        text-shadow: 0 0 10px $grey-color-dark;

        @include media-query($on-mobile) {
            font-size: 40px;
        }
    }
 }

 .curtain-header-page {
    height: 100vh;
 }

.curtain-overlay-expanded {
    position: relative;
    height: auto;
}

.expanded-overlay-content {
    display: block;
    margin-top: -3px;
    padding-bottom: 10px;

    a {
        -webkit-transition: text-shadow 300ms;
        -moz-transition:    text-shadow 300ms;
        -o-transition:      text-shadow 300ms;
        transition:         text-shadow 300ms;

        &:link, &:visited, &:active {
            color: white !important;
        }

        &:hover, &:focus {
            color: white !important;
            text-shadow: 0 0 5px $grey-super-light;
        }
    }

    h1 {
        font-family: 'Raleway', sans-serif;
        color: white;
        font-size: 35px;
        text-shadow: 0 0 10px $grey-color-dark;
        margin-top: -5px;
    }

    h3 {
        font-family: 'Raleway', sans-serif;
        text-transform: uppercase;
        color: white;
        font-size: 20px;
        text-shadow: 0 0 10px $grey-color-dark;
    }

    .tags {
        span {
            font-family: 'Roboto', sans-serif;
            font-weight: normal;
            text-transform: lowercase;
            font-size: 12px;
            font-weight: bold;
            background-color: white;
            color: $mignonic-blue;
            padding: 2px;
            margin-right: 5px;

            a {
                -webkit-transition: color 300ms;
                -moz-transition:    color 300ms;
                -o-transition:      color 300ms;
                transition:         color 300ms;

                &:link, &:visited, &:active {
                    color: $mignonic-blue !important;
                }

                &:hover, &:focus {
                    color: $grey-color-dark !important;
                    text-decoration: none !important;
                }
            }
        }
    }
}

.coverup {
    background: $grey-super-light;
    position: static;
}

.index-intro {
    margin-top: 50px;
    margin-bottom: 50px;
}

.intro-blurb {
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    font-size: 17px;
    line-height: auto !important;

    @include media-query($on-tablet) {
        font-size: 18px;
    }

    .intro-highlight {
        font-size: 40px;
        line-height: 1.2em;
    }

    p {
        margin-bottom: 1em;
    }
}

.white-background {
    background: white !important;
}

/**
 * 404'd
 */
.error-background {
    position: relative;
    height: 100vh;
    width: 100%;
    overflow: hidden;
}

.error-dawn {
    background-color: #b37ea0;
    background-image: -webkit-linear-gradient(top, #87ceeb 30%, #b37ea0 100%);
    background-image: -moz-linear-gradient(top, #87ceeb 30%, #b37ea0 100%);
    background-image: -o-linear-gradient(top, #87ceeb 30%, #b37ea0 100%);
    background-image: linear-gradient(to bottom, #87ceeb 30%, #b37ea0 100%);
}

.error-day {
    background-color: #3FC4F7;
    background-image: -webkit-linear-gradient(top, #3FC4F7 30%, #87ceeb 100%);
    background-image: -moz-linear-gradient(top, #3FC4F7 30%, #87ceeb 100%);
    background-image: -o-linear-gradient(top, #3FC4F7 30%, #87ceeb 100%);
    background-image: linear-gradient(to bottom, #3FC4F7 30%, #87ceeb 100%);
}

.error-dusk {
    background-color: #f16255;
    background-image: -webkit-linear-gradient(top, #056285 30%, #f16255 100%);
    background-image: -moz-linear-gradient(top, #056285 30%, #f16255 100%);
    background-image: -o-linear-gradient(top, #056285 30%, #f16255 100%);
    background-image: linear-gradient(to bottom, #056285 30%, #f16255 100%);
}

.error-night {
    background-color: #03153a;
    background-image: -webkit-linear-gradient(top, #060423 30%, #03153a 100%);
    background-image: -moz-linear-gradient(top, #060423 30%, #03153a 100%);
    background-image: -o-linear-gradient(top, #060423 30%, #03153a 100%);
    background-image: linear-gradient(to bottom, #060423 30%, #03153a 100%);
}

.error-message {
    color: white;
    text-shadow: 0 0 10px $grey-color-dark;

    h1 {
        font-size: 35px;
        font-family: 'Raleway', sans-serif;
    }

    .subtitle {
        font-size: 15px;
        font-family: 'Roboto', sans-serif;
        font-weight: normal;
        margin-left: 10px;

        @include media-query($on-tablet) {
            font-size: 17px;
            margin-left: 0px;
        }
    }
}

.error-attribute {
    position: absolute;
    bottom: 0;
    right: 0;
    margin-right: 8px;
    z-index: 11;
    text-shadow: 0 0 10px $grey-color-dark;

    p {
        color: white;
        font-size: 10px;
    }

    a {
        color: white;

        &:hover, &:active, &:focus {
            color: white !important;
        }
    }
}

.error-img-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
    z-index: 8;
}

.tavi {
    width: 250px;
    animation: tavi 4s linear infinite alternate;
    -webkit-animation: tavi 4s linear infinite alternate;
    -moz-animation: tavi 4s linear infinite alternate;
    -o-animation: tavi 4s linear infinite alternate;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-user-drag: none;
    user-drag: none;
}

@-webkit-keyframes tavi {
    from   {-webkit-transform: translateY(8px) rotate(2deg);}
    to     {-webkit-transform: translateY(-8px) rotate(-2deg);}
}

@-moz-keyframes tavi {
    from   {-moz-transform: translateY(8px) rotate(2deg);}
    to     {-moz-transform: translateY(-8px) rotate(-2deg);}
}

@-o-keyframes tavi {
    from  {-o-transform: translateY(8px) rotate(2deg);}
    to    {-o-transform: translateY(-8px) rotate(-2deg);}
}

@keyframes tavi {
    from   {transform: translateY(8px) rotate(2deg);}
    to     {transform: translateY(-8px) rotate(-2deg);}
}

.err-cloud {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-user-drag: none;
    user-drag: none;
}

.err-cloud-dawndusk {
    filter: hue-rotate(150deg);
    -webkit-filter: hue-rotate(150deg);
    -moz-filter: hue-rotate(150deg);
    -o-filter: hue-rotate(150deg);
}

.err-cloud-night {
    filter: hue-rotate(60deg) brightness(30%);
    -webkit-filter: hue-rotate(60deg) brightness(30%);
    -moz-filter: hue-rotate(60deg) brightness(30%);
    -o-filter: hue-rotate(60deg) brightness(30%);
}

.err-cloud1 {
    width: 100px;
    position: absolute;
    top: 35%;
    right: -1000px;
    z-index: 6;
    animation: cloud 67s linear 5s infinite;
    -webkit-animation: cloud 67s linear 5s infinite;
    -moz-animation: cloud 67s linear 5s infinite;
    -o-animation: cloud 67s linear 5s infinite;
}

.err-cloud2 {
    width: 300px;
    position: absolute;
    top: 45%;
    right: -1000px;
    z-index: 7;
    animation: cloud 37s linear 2s infinite;
    -webkit-animation: cloud 37s linear 2s infinite;
    -moz-animation: cloud 37s linear 2s infinite;
    -o-animation: cloud 37s linear 2s infinite;
}

.err-cloud3 {
    width: 600px;
    position: absolute;
    top: 65%;
    right: -1000px;
    z-index: 9;
    animation: cloud 17s linear infinite;
    -webkit-animation: cloud 17s linear infinite;
    -moz-animation: cloud 17s linear infinite;
    -o-animation: cloud 17s linear infinite;
}

@-webkit-keyframes cloud {
    from   {right: -1000px;}
    to     {right: 100%;}
}

@-moz-keyframes cloud {
    from   {right: -1000px;}
    to     {right: 100%;}
}

@-o-keyframes cloud {
    from   {right: -1000px;}
    to     {right: 100%;}
}

@keyframes cloud {
    from   {right: -1000px;}
    to     {right: 100%;}
}

/**
 * Page content
 */
.pushdown {
    margin-top: 12px;
}

.superpushdown {
    margin-top: 20px;
}

.pusharound {
    margin-top: 20px !important;
    margin-bottom: 20px !important;
}

.superpusharound {
    margin-top: 40px !important;
    margin-bottom: 20px !important;
}

.paddup {
    padding-top: 25px;
}

.paddown {
    padding-bottom: 25px;
}

.padaround {
    padding-bottom: 12px;
    padding-top: 2px;
}

.page-content {
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    font-size: 15px;
    line-height: 1.7em !important;

    img {
        display: block;
        max-width: 100%;
        margin-left:  auto;
        margin-right: auto;
    }

    ul {
        margin-left: 30px;
    }

    @include media-query($on-tablet) {
        font-size: 17px;
    }
}

.generic-container {
    overflow: hidden;
}

.resume-space {
    margin-top: 50px;
    margin-bottom: 50px;
}

.resume-card {
    position: relative;
    background-color: white;
    margin-bottom: 20px;
    border-bottom: 5px solid $mignonic-blue;
    -moz-box-shadow: 0px 3px 5px #333;
    -webkit-box-shadow: 0px 3px 5px #333;
    -o-box-shadow:  0px 3px 5px #333;
    box-shadow: 0px 3px 5px #333;
    -webkit-transition: -webkit-box-shadow 250ms;
    -moz-transition:    -moz-box-shadow 250ms;
    -o-transition:      -o-box-shadow 250ms;
    transition:         box-shadow 250ms;

    &:hover {
        -moz-box-shadow: 0px 3px 10px #111;
        -webkit-box-shadow: 0px 3px 10px #111;
        -o-box-shadow: 0px 3px 10px #111;
        box-shadow: 0px 3px 10px #111;
    }
}

.resume-content {
    padding: 15px;
    margin-bottom: 12px;
    width: 100%;

    h2 {
        margin-top: -3px;
        margin-bottom: 5px;
        font-size: 17px;
        text-transform: uppercase;
        font-family: 'Raleway', sans-serif;
        color: $mignonic-blue;

        a:link {
            color: $mignonic-blue;
        }
    }

}

.resume-entry {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
}

.job-entry {
    height: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    display: block;
    font-family: 'Roboto', sans-serif;
    font-weight: normal;

    .company {
        font-size: 15px;
        font-weight: bold;
        @include media-query($on-tablet) {
            font-size: 18px;
        }
    }
}

.resume-divider {
    
    height: 15px;

    .inner {
        border-bottom: 2px solid $grey-less-light;
        height: 50%;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }
}

.job-promo {
    background-color: darken($mignonic-blue, 5%);
    height: auto;
    margin-left: -15px;
    margin-right: -15px;
    margin-top: 20px;
    margin-bottom: 10px;
}

.job-promo-inner {
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    padding: 20px;
    text-align: center;
    color: white;

    .title {
        font-size: 17px;
    }
}

.job-promo-icons {
    margin-top: 5px;
    margin-bottom: 5px;

    span {
        color: white;
        padding: 10px;

        -webkit-transition: color 300ms;
        -moz-transition:    color 300ms;
        -o-transition:      color 300ms;
        transition:         color 300ms;
        
        &:hover, &:visited, &:link, &:active, &:focus {
            color: $grey-color-dark !important;
        }

        &:hover .inner-icon, &:visited .inner-icon, &:link .inner-icon, &:active .inner-icon, &:focus .inner-icon {
            color: white !important;
        }
    }

    .inner-icon {
        color: darken($mignonic-blue, 5%);

        -webkit-transition: color 300ms;
        -moz-transition:    color 300ms;
        -o-transition:      color 300ms;
        transition:         color 300ms;
    }

    .left-nudge {
        margin-left: -2px;
    }
}

.post-blurb {
    padding-bottom: 7px !important;
}

.post-list {
    list-style: none;
    
    > li {
        margin-top: -25px;
        margin-left: -30px;
    }
    
    ul {
        list-style-type: none;
    }
}

.post-meta {
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    font-size: 12px;
    color: $grey-color;
}

.post-link {
    display: block;
    font-size: 24px;
}

.subscript {
    font-size: 10px;
    font-style: italic;
    float: right;
}

/**
 * Projects
 */

.project-entry {
    position: relative;
    background-color: white;
    width: 100%;
    min-height: 350px;
    border-bottom: 5px solid $mignonic-blue;
    margin-bottom: 20px;
    overflow: hidden;
    -moz-box-shadow: 0px 3px 5px #333;
    -webkit-box-shadow: 0px 3px 5px #333;
    -o-box-shadow:  0px 3px 5px #333;
    box-shadow: 0px 3px 5px #333;
    -webkit-transition: -webkit-box-shadow 250ms;
    -moz-transition:    -moz-box-shadow 250ms;
    -o-transition:      -o-box-shadow 250ms;
    transition:         box-shadow 250ms;

    img {
        width: 100%;
        border-radius: 0px;
        top: -9999px;
        bottom: -9999px;
        left: -9999px;
        right: -9999px;
        margin: auto;
        position: absolute;
    }

    &:hover {
        -moz-box-shadow: 0px 3px 10px #111;
        -webkit-box-shadow: 0px 3px 10px #111;
        -o-box-shadow: 0px 3px 10px #111;
        box-shadow: 0px 3px 10px #111;
    }
}

.card-front {
    min-height: 350px !important;
    margin-top: 20px !important;
    margin-bottom: 20px !important;

    @include media-query($on-tablet) {
        min-height: 500px !important;
    }

    @include media-query($on-palm) {
        min-height: 350px !important;
    }
}

.more {
    position: absolute;
    bottom: 0;
    right: 0;
    display: block;
    padding: 10px;
    padding-right: 17px;
    font-size: 12px;
    @include media-query($on-tablet) {
        font-size: 15px;
    }
    span {
        margin-left: 5px;
    }
}

.lefticons {
    position: absolute;
    bottom: 0;
    left: 0;
    display: block;
    padding: 10px;
    padding-left: 17px;

    span {
        margin-right: 7px;
        font-size: 20px;
        @include media-query($on-tablet) {
            font-size: 23px;
        }
    }
}

/**
 * Posts
 */

 .log-entry {
    position: relative;
    background-color: white;
    width: 100%;
    height: auto;
    border-bottom: 5px solid $mignonic-blue;
    margin-bottom: 20px;
    -moz-box-shadow: 0px 3px 5px #333;
    -webkit-box-shadow: 0px 3px 5px #333;
    -o-box-shadow:  0px 3px 5px #333;
    box-shadow: 0px 3px 5px #333;
    -webkit-transition: -webkit-box-shadow 250ms;
    -moz-transition:    -moz-box-shadow 250ms;
    -o-transition:      -o-box-shadow 250ms;
    transition:         box-shadow 250ms;

    img {
        width: 100%;
        border-radius: 0px;
        top: -9999px;
        bottom: -9999px;
        left: -9999px;
        right: -9999px;
        margin: auto;
        position: absolute;
    }

    &:hover {
        -moz-box-shadow: 0px 3px 10px #111;
        -webkit-box-shadow: 0px 3px 10px #111;
        box-shadow: 0px 3px 10px #111;
    }
}

.log-img {
    height: 150px;
    position: relative;
    overflow: hidden;
    border: 1px solid $grey-less-light;

    @include media-query($on-mobile) {
        height: 120px !important;
    }
}

.log-desc {
    padding: 15px;
    margin-bottom: 15px;

    h2 {
        margin-top: -3px;
        font-size: 17px;
        text-transform: uppercase;
        font-family: 'Raleway', sans-serif;
        color: $mignonic-blue;

        a:link {
            color: $mignonic-blue;
        }
    }

    .desc {
        line-height: 1.7em;
    }

    .post-meta {
        margin-top: -7px;
    }
}

.post {
    margin-top: -5px;
    -moz-box-shadow: 0px 3px 5px #333;
    -webkit-box-shadow: 0px 3px 5px #333;
    -o-box-shadow:  0px 3px 5px #333;
    box-shadow: 0px 3px 5px #333;
    background: white;
}

.toc-action {
    cursor: pointer;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    background-color: #486BA6;
    -moz-box-shadow: 0px 3px 5px #333;
    -webkit-box-shadow: 0px 3px 5px #333;
    -o-box-shadow:  0px 3px 5px #333;
    box-shadow: 0px 3px 5px #333;
    position: fixed;
    z-index: 1500;
    bottom: 20px;
    right: 20px;

    -webkit-transition: background-color 300ms;
    -moz-transition:    background-color 300ms;
    -o-transition:      background-color 300ms;
    transition:         background-color 300ms;

    &:hover {
        background-color: $grey-color-dark;
    }

    span {
        color: white;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        -webkit-transform: translate(-50%,-50%);
        -moz-transform: translate(-50%,-50%);
        -o-transform: translate(-50%,-50%);
    }
}

.dialog-tint {
    position: fixed;
    display: none;
    height: 100%;
    width: 100%;
    background-color: rgba(50, 50, 50, .90);
    z-index: 2000;
    top: 0;
    left: 0;
}

.dialog-container {
    position: fixed !important;
    background-color: white;
    height: auto;
    bottom: 0;
    left: 50%;
    border-top: 5px solid $mignonic-blue;

    transform: translate(-50%,0%);
    -webkit-transform: translate(-50%,0%);
    -moz-transform: translate(-50%,0%);
    -o-transform: translate(-50%,0%);

    -moz-box-shadow: 0px 3px 5px #333;
    -webkit-box-shadow: 0px 3px 5px #333;
    -o-box-shadow:  0px 3px 5px #333;
    box-shadow: 0px 3px 5px #333;

    -webkit-transition: -webkit-box-shadow 250ms;
    -moz-transition:    -moz-box-shadow 250ms;
    -o-transition:      -o-box-shadow 250ms;
    transition:         box-shadow 250ms;
    &:hover {
        -moz-box-shadow: 0px 3px 10px #111;
        -webkit-box-shadow: 0px 3px 10px #111;
        -o-box-shadow: 0px 3px 10px #111;
        box-shadow: 0px 3px 10px #111;
    }
}

.dialog-content {
    padding: 20px;
    h2 {
        margin-top: -1px;
        margin-bottom: 10px;
        font-size: 17px;
        text-transform: uppercase;
        font-family: 'Raleway', sans-serif;
        color: $mignonic-blue;
    }

    ul {
        margin-bottom: -1px;
    }

    .dialog-close {
        position: absolute;
        top: 0;
        right: 0;
        padding: 20px;
    }
}

.post-content {
    padding: 25px;
    margin-bottom: $spacing-unit;
    font-family: 'Roboto', sans-serif;
    font-weight: normal;

    p {
        margin-bottom: 1em;
        line-height: 1.7em;

        &:not(:first-child) {
            margin-top: 1em;
        }
    }

    h2 {
        margin-top: 40px;
        font-size: 17px;
        text-transform: uppercase;
        font-family: 'Raleway', sans-serif;
        color: $mignonic-blue;
    }

    /* this forces linked h2 IDs to be pushed down a bit further */
    h2:before { 
        display: block; 
        content: " "; 
        margin-top: -100px; 
        height: 100px; 
        visibility: hidden; 
    }

    h3 {
        font-size: 20px;
    }

    h4 {
        font-size: 18px;
    }
}

.external-link-box {
    background-color: $mignonic-blue;
    height: 40px;
    width: 100%;
    display: table;
    span {
        margin-right: 5px;
    }
}

.external-link-cell {
    -webkit-transition: background-color 300ms;
    -moz-transition:    background-color 300ms;
    -o-transition:      background-color 300ms;
    transition:         background-color 300ms;

    p {
        color: white;
        margin: 0 auto !important;
    }

    display: table-cell;
    &:hover {
        text-decoration: none !important;
        background-color: $grey-color-dark;
    }
    height: 40px;
    text-align: center;
    vertical-align: middle;
}

.post-comments {
    padding: 20px;
}

.caption {
    font-size: 12px;
    font-color: $grey-color-dark;
    font-style: italic;
}

.featuretext-lg {
    font-size: 28px;
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
}

.featuretext-md {
    font-size: 21px;
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
}

.featuretext-sm {
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
}

.cyan-emph {
    font-weight: 400;
    color: #00bdde;
}

.emptyspace {
    display: table-cell;
    height: 100px;
    vertical-align: middle;
    text-align: center;
}

.div-column-left {
    float: left;
    width: 25%;
    @include media-query($on-mobile) {
        width: 10%;
    }
}

.div-column-right {
    float: right;
    width: 25%;
    @include media-query($on-mobile) {
        width: 10%;
    }
}

.div-column-center {
    display: inline-block;
    width: 45%;
    @include media-query($on-mobile) {
        width: 80%;
    }
}

.divider {
    
    height: 37px;

    .inner {
        border-bottom: 2px solid $grey-darker;
        height: 50%;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }
}

.social-icons-large {
    margin-top: -20px !important;
    padding-bottom: 20px !important;
    span {
        padding: 5px;
        margin-bottom: -1px;
    }
}

.social-icons-very-large {
    span {
        margin-left: 10px;
        margin-right: 10px;
    }
}

.market-badges {
    position: relative;
    margin-top: -10px;
    margin-bottom: 20px;
    text-align: center;

    img {
        height: 35px;
        margin-left: 7px;
        margin-right: 7px;

        @include media-query($on-mobile) {
            height: 30px;
            margin-top: 5px;
            margin-left: 4px;
            margin-right: 4px;
        }
    }
}

.market-badges-large {
    display: inline !important;
    margin-left: 10px !important;
    margin-right: 10px !important;
    height: 45px;
    max-width: 150px;
}

/* Project Makoto */

.makoto-bg {
    height: 100vh;
    width: 100%;
    position: relative;
    overflow: hidden;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    @media (max-width: $on-tablet) {
        background-attachment: scroll;
    }

    .inner-text {
        margin: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        -webkit-transform: translate(-50%,-50%);
        -moz-transform: translate(-50%,-50%);
        -o-transform: translate(-50%,-50%);
        color: #fff;
        font-family: 'Roboto', sans-serif;
        font-weight: lighter;
    }

    .mid-quote {
        font-size: 100px;
    }

    .final-quote {
        font-size: 60px;

        @include media-query($on-tablet) {
            font-size: 50px;
        }

        @include media-query($on-palm) {
            font-size: 20px;
        }
    }
}

.makoto-top {
    position: relative;
    z-index: 200;
}

.makoto-title {
    position: absolute;
    top: 20%;
    left: 10%;
    z-index: 250;

    span {
        display: none;
        background-color: black;
        font-family: 'Raleway', sans-serif;
        font-size: 50px;
        color: white;
        text-transform: uppercase;
        padding-left: 8px;
        padding-right: 8px;

        @include media-query($on-palm) {
            font-size: 30px;
        }
    }

    .bringup {
        margin-top: -25px;

        @include media-query($on-palm) {
            margin-top: -20px;
        }
    }

    .last-underline {
        border-bottom: 3px solid #6a1515;
    }
}

.makoto-container {
    display: none;
    position: fixed;
    top: 20%;
    left: 50%;
    transform: translate(-50%,-20%);
    -webkit-transform: translate(-50%,-20%);
    -moz-transform: translate(-50%,-20%);
    -o-transform: translate(-50%,-20%);
    z-index: 50;
}

.makoto {
    width: 250px;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-user-drag: none;
    user-drag: none;
}

.makoto-load-container {
    background-color: $grey-super-light;
    z-index: 500;
    position: fixed;
}

.makoto-load {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
    z-index: 300;
    font-size: 100px;
    color: $grey-darker;
}