/**
 * Site header
 */
.site-header {
    background-color: $mignonic-blue;
    margin-top: -2px;
    top: 0%;
    left: 0%;
    width: 100%;
    z-index: 1000;
}

.site-title {
    font-family: 'Arvo', serif;
    font-size: 28px !important;
    letter-spacing: -1px;
    margin-top: 3px;
    margin-bottom: -1px;
    margin-left: -17px;
    float: left;

    &:hover, &:visited, &:link, &:active, &:focus {
        text-decoration: none;
        color: white !important;
    }

    @include media-query($on-laptop) {
        margin-left: 0px;
        margin-top: 12px;
    }
}

.site-nav {
    margin-top: 2px !important;
    font-family: 'Arvo', serif;
    
    a:link, a:visited, a:active {
        color: $white-color;
        background-color: $mignonic-blue;
    }

    a:hover, a:focus, .active {
        background-color: $grey-color-dark !important;
        color: white !important;
    }
}

.menu-button {
    color: white;
    font-size: 30px !important;
    vertical-align: 0 !important;
    line-height: 20px !important;

    @include media-query($on-laptop) {
        margin-top: 11px;
    }
}

.navicons {
    padding-right: 3px;
}

/**
 * Site footer
 */
.site-footer {
    padding: $spacing-unit;
    font-size: 10px;
    color: $grey-color;
}

.foot-column-left {
    float: left;
    width: 35%;
    @include media-query($on-mobile) {
        width: 20%;
    }
}

.foot-column-right {
    float: right;
    width: 35%;
    @include media-query($on-mobile) {
        width: 20%;
    }
}

.foot-column-center {
    display: inline-block;
    width: 25%;
    @include media-query($on-mobile) {
        width: 50%;
    }
}

.social-icons {
    span {
        padding: 5px;
    }
}

/**
 * Jumbotron
 */
 .curtain-header {
    overflow: hidden;
    position: relative;
    width: 100%;
    display: table;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
 }

 .curtain-overlay {
    width: 100%;
    margin: 0 auto;
    height: 300px;
    text-align: center;
    font: 0/0 a;
    
    img {
        display: inline-block;
        vertical-align: middle;
        width: 200px;
        border: 3px solid white;
    }

    h1 {
        display: inline-block;
        font-size: 70px;
        font-family: 'Arvo', serif;
        color: white;
        vertical-align: middle;
        letter-spacing: -1px;
        line-height: 1;
        text-shadow: 0 0 10px $grey-color-dark;

        @include media-query($on-mobile) {
            font-size: 40px;
        }
    }
 }

.curtain-overlay:before {    /* omg centering */
    content: ' ';
    display: inline-block;
    vertical-align: middle;
    height: 100%;
}


.curtain-overlay-expanded {
    position: relative;
    height: auto;
}

.expanded-overlay-content {
    display: block;
    margin-top: -3px;
    padding-bottom: 10px;

    a {
        color: white;

        &:hover, &:visited, &:link, &:active {
            color: white !important;
        }
    }

    h1 {
        font-family: 'Arvo', serif;
        color: white;
        font-size: 35px;
        text-shadow: 0 0 10px $grey-color-dark;
        margin-top: -5px;
    }

    h3 {
        font-family: 'Arvo', serif;
        color: white;
        font-size: 20px;
        text-shadow: 0 0 10px $grey-color-dark;
    }

    .tags {
        span {
            font-family: 'Arvo', serif;
            font-size: 12px;
            font-weight: bold;
            background-color: white;
            color: $mignonic-blue;
            padding: 2px;
            margin-right: 5px;

            a:link, a:active, a:visited {
                color: $mignonic-blue !important;
            }

            a:hover, a:focus {
                color: $grey-color-dark !important;
            }
        }
    }
}

.coverup {
    background: white;
    position: relative;
    width: 100%;
    height: 100%;
    overflow: auto;
}

/**
 * 404'd
 */
.error-background {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #b8b8b8;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: right top;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.error-message {
    color: white;
    margin-top: 80px;
    text-shadow: 0 0 10px $grey-color-dark;

    h1 {
        font-size: 80px;
        font-family: 'Arvo', serif;
        letter-spacing: -1px;
        line-height: 1;
    }

    .subtitle {
        margin-top: 25px;
    }

    p {
        font-size: 18px;
        font-family: 'Roboto', sans-serif;

        @include media-query($on-mobile) {
            font-size: 20px;
        }
    }

    a:link, a:active, a:visited {
        color: white;
    }
}

.error-footer {
    position: fixed;
    font-size: 10px;
    color: white;
    bottom: 0;
    left: 0;
    padding: 20px;
}

.error-corner-img {
    position: fixed;
    bottom: 0;
    right: 0;
    padding: 20px;
    width: 230px;
}

/**
 * Page content
 */
.pushdown {
    margin-top: 12px;
}

.pusharound {
    margin-top: 20px;
    margin-bottom: 20px;
}

.paddup {
    padding-top: 25px;
}

.paddown {
    padding-bottom: 25px;
}

.padaround {
    padding-bottom: 12px;
    padding-top: 2px;
}

.border-override {
    border: 0px !important;
}

.intro {
    margin-top: 20px;
    margin-bottom: 25px;

    p {
        font-size: 15px;

        @include media-query($on-palm) {
            font-size: 18px;
        }

    }

    .emphasis {
        font-size: 17px;

        @include media-query($on-palm) {
            font-size: 20px;
        }
    }
}

.page-content {
    padding: $spacing-unit 0;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;

    img {
        display: block;
        max-width: 100%;
        margin: 0 0 1rem;
        border-radius: 5px;
        margin-left:  auto;
        margin-right: auto;
    }

    ul {
        margin-left: 30px;
    }

    @include media-query($on-palm) {
        font-size: 17px;
    }
}

.resume-container {
    position: relative;
    background-color: $grey-color-light;
    margin-top: 45px;
    margin-bottom: 45px;
    border-bottom: 5px solid $mignonic-blue;
}

.resume-content {
    padding: 15px;
    margin-bottom: 20px;

    h2 {
        margin-top: -3px;
        margin-bottom: -1px;
        font-size: 22px;
        font-family: 'Arvo', serif;
        color: $mignonic-blue;

        a:link {
            color: $mignonic-blue;
        }
    }
}

.job-container {
    padding-top: 10px;
}

.job-padding-override {
    padding: 5px !important;
    margin: 0 !important;
}

.job-entry {
    width: 100%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding: 5px;
    width: 100%;
    color: white;
    background-color: #253F6D;

    a {
        color: white !important;
    }

    span {
        display: block;
    }

    strong {
        font-size: 14px;
        @include media-query($on-palm) {
            font-size: 17px;
        }
    }

    .position {
        font-size: 14px;
        @include media-query($on-palm) {
            font-size: 17px;
        }
    }
}

.job-desc {
    color: white;
    height: 50%;
    text-align: center;
    vertical-align: middle;
}

.skill-overview {
    margin-left: -7px !important;
    margin-right: 7px !important;
    font-size: 14px;
    @include media-query($on-palm) {
        font-size: 17px;
    }
    
    table {
        width: 100%;
    }
    
    th, td {
        padding: 7px;
        vertical-align: top;
    }

}

.page-heading {
    font-family: 'Arvo', serif;
    font-size: 22px;
    color: $mignonic-blue;
    
    a:link {
        color: $mignonic-blue;
    }
}

.post-blurb {
    padding-bottom: 7px !important;
}

.post-list {
    list-style: none;
    
    > li {
        margin-top: -25px;
        margin-left: -30px;
    }
    
    ul {
        list-style-type: none;
    }
}

.post-meta {
    font-family: 'Arvo', serif;
    font-size: 15px;
    color: $grey-color;
}

.post-link {
    display: block;
    font-size: 24px;
}

.subscript {
    font-size: 10px;
    font-style: italic;
    float: right;
}

/**
 * Projects
 */

.project-entry {
    position: relative;
    background-color: $grey-super-light;
    width: 100%;
    min-height: 300px;
    border-bottom: 5px solid $mignonic-blue;
    margin-bottom: 30px;
    overflow: hidden;

    img {
        width: 100%;
        border-radius: 0px;
    }

    &:hover {
        border-bottom: 5px solid $grey-color-dark;
        box-shadow: 0 0 20px 5px #999;
        -moz-box-shadow: 0 0 20px 5px #999;
        -webkit-box-shadow: 0 0 20px 5px #999;
    }
}

.card-front {
    min-height: 350px !important;
    margin-top: 20px !important;
    margin-bottom: 20px !important;
}

.project-desc {

    padding: 15px;
    margin-top: -35px;
    margin-bottom: 15px;

    h2 {
        font-size: 22px;
        font-family: 'Arvo', serif;
        color: $mignonic-blue;

        a:link {
            color: $mignonic-blue;
        }
    }
}

.more {
    position: absolute;
    bottom: 0;
    right: 0;
    display: block;
    padding: 10px;
    padding-right: 17px;
    font-size: 12px;
    @include media-query($on-palm) {
        font-size: 15px;
    }
    span {
        margin-left: 5px;
    }
}

.lefticons {
    position: absolute;
    bottom: 0;
    left: 0;
    display: block;
    padding: 10px;
    padding-left: 17px;

    span {
        margin-right: 7px;
        font-size: 20px;
        @include media-query($on-palm) {
            font-size: 23px;
        }
    }
}

/**
 * Posts
 */

 .log-entry {
    position: relative;
    background-color: $grey-super-light;
    width: 100%;
    height: auto;
    border-bottom: 5px solid $mignonic-blue;
    margin-bottom: 20px;

    img {
        width: 100%;
        border-radius: 0px;
    }

    &:hover {
        border-bottom: 5px solid $grey-color-dark;
        box-shadow: 0 0 20px 5px #999;
        -moz-box-shadow: 0 0 20px 5px #999;
        -webkit-box-shadow: 0 0 20px 5px #999;
    }
}

.log-img {
    height: 170px;
    width: 100%;
    overflow: hidden;
}

.log-desc {
    padding: 15px;
    margin-bottom: 15px;

    h2 {
        font-size: 22px;
        margin-top: -3px;
        font-family: 'Arvo', serif;
        color: $mignonic-blue;

        a:link {
            color: $mignonic-blue;
        }
    }

    .post-meta {
        margin-top: -7px;
    }
}

.post {
    h1 {
        font-size: 38px;
        font-family: 'Arvo', serif;
        color: $mignonic-blue;
        letter-spacing: -1px;
        line-height: 1;
        margin-top: 10px;

        a:link {
            color: $mignonic-blue;
        }
    }

    h2 {
        font-family: 'Arvo', serif;
        font-size: 22px;
        color: $mignonic-blue;
        padding-top: 2px;
        padding-bottom: 1px;
        
        a:link {
            color: $mignonic-blue;
        }
    }

    h3 {
        font-family: 'Arvo', serif;
        color: $mignonic-blue;
        font-size: 20px;
    }
}

.post-content {
    margin-bottom: $spacing-unit;
    font-family: 'Roboto', sans-serif;
    h2 {
        font-size: 22px;
        font-family: 'Arvo', serif;
        color: $mignonic-blue;
    }

    h3 {
        font-size: 20px;
    }

    h4 {
        font-size: 18px;
    }
}

.caption {
    font-size: 12px;
    font-color: $grey-color-dark;
    font-style: italic;
}

.featuretext-lg {
    font-size: 28px;
    font-family: 'Roboto Light', sans-serif;
}

.featuretext-md {
    font-size: 21px;
    font-family: 'Roboto Light', sans-serif;
}

.featuretext-sm {
    font-size: 14px;
    font-family: 'Roboto Light', sans-serif;
}

.cyan-emph {
    font-weight: 600;
    color: #00bdde;
}

.related-posts {
    font-family: 'Arvo', serif;
    list-style-type: none;
    
    h3 {
        font-size: 18px;
    }
    
    small {
        font-size: $small-font-size;
        color: $grey-color;
    }
    
    li {
        margin-left: -30px;
        margin-top: -10px;
    }
}

.emptyspace {
    display: table-cell;
    height: 100px;
    vertical-align: middle;
    text-align: center;
}

.div-column-left {
    float: left;
    width: 25%;
    @include media-query($on-mobile) {
        width: 10%;
    }
}

.div-column-right {
    float: right;
    width: 25%;
    @include media-query($on-mobile) {
        width: 10%;
    }
}

.div-column-center {
    display: inline-block;
    width: 45%;
    @include media-query($on-mobile) {
        width: 80%;
    }
}

.divider {
    
    height: 37px;

    .inner {
        border-bottom: 2px solid $grey-color-light;
        height: 50%;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }
}

.social-icons-large {
    span {
        padding: 5px;
        margin-bottom: -1px;
    }
}

.market-badges {
    position: relative;
    margin-top: -10px;
    text-align: center;

    img {
        height: 35px;
        margin-left: 7px;
        margin-right: 7px;
    }
}

.market-badges-large {
    display: inline !important;
    margin-left: 10px !important;
    margin-right: 10px !important;
    height: 45px;
    max-width: 150px;
}