<!DOCTYPE html>
<html>

    {% include head.html %}

    <body>
    
        {% include header.html %}
        {% include google_analytics.html %}

        {% if page.show_toc %}
        <script type="text/javascript">
            $(document).ready(function(){
                // setup listeners
                $('#toc-action').click(function () {
                    $('#toc').fadeIn('fast');
                });

                $('#dialog-close').click(function () {
                    $('#toc').fadeOut('fast');
                    console.log("Test");
                });

                $('.dialog-tint').click(function (event) {
                    if (event.target === this) {
                        $('#toc').fadeOut('fast');
                    }
                });

                // build table of contents
                var h2InPage = $(this).find('h2');
                for (i=1; i < h2InPage.length; i++) {
                    var id = h2InPage[i].id;
                    var txt = h2InPage[i].innerHTML;
                    $("#toc-list").append('<li><a class="toc-link" href="#' + id + '">' + txt + '</a></li>');
                }

                $('.toc-link').click(function () {
                    $('#toc').fadeOut('fast');
                });

                $('.toc-link').on('click', function(event){
                    event.preventDefault();
                    var target= $("#z");
                    $('html, body').stop().animate({
                       scrollTop: $(event.target.hash).offset().top
                    }, 1000);

                    console.log(event);
                });

            });
        </script>

        <span id="uniquetop"></span>
        {% endif %}

        <div class="curtain-header curtain-header-page" {% if page.header %}data-parallax="scroll" data-image-src="{{ page.header }}"{% elsif page.color %}style="background-color: {{ page.color }};"{% else %}data-parallax="scroll" data-image-src="/images/headers/log-header.png"{% endif %}>
            <div class="curtain-overlay-expanded">
                <div class="container col-md-offset-2 col-md-8">
                    <div class="expanded-overlay-content">
                        <h3><a href="/log/">Adventure Log</a></h3>
                        <h1>{{ page.title }}</h1>
                        <p class="tags">
                        {% for tags in page.tags %}<span><a href="/log/tag/{{ tags }}/">{{ tags }}</a></span>{% endfor %}
                        </p>
                    </div>
                </div><!-- /container -->
            </div>

            <div class="container page-content col-md-offset-2 col-md-8">

                <div class="post">

                    {% if page.show_toc %}
                    <div class="toc-action" id="toc-action"><span class="fa fa-list-ul fa-lg"></span></div>
                    <div class="dialog-tint" id="toc">
                        <div class="dialog-container col-xs-12 col-sm-7 col-md-offset-3 col-md-4">
                            <div class="dialog-content">
                                <h2>Contents</h2>
                                <a href="javascript:void(0)"><span class="fa fa-times fa-lg dialog-close" id="dialog-close"></span></a>
                                <ul id="toc-list">
                                    <li><a class="toc-link" href="#uniquetop">Top: {{ page.title }}</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    {% endif %}

                    <article class="post-content">
                        <p class="post-meta">{{ page.date | date_to_string }}</p>
                        {{ content }}
                    </article>

                    <div class="col-center">
                        <div class="social-icons-large">
                            <a href="/log/" title="Back to Adventure Log"/><span class="fa fa-chevron-circle-left fa-2x"></span></a>
                            <a href="https://www.facebook.com/sharer/sharer.php?u={{ site.url }}{{ page.url }}" target="_blank" title="Facebook"/><span class="fa fa-facebook-square fa-2x"></span></a>
                            <a href="https://twitter.com/intent/tweet?url={{ site.url }}{{ page.url }}&text={{ page.title }}&via=ImperatorTorres" target="_blank" title="Twitter"/><span class="fa fa-twitter-square fa-2x"></span></a>
                            <a href="https://plus.google.com/share?url={{ site.url }}{{ page.url }}" target="_blank" title="Google+"/><span class="fa fa-google-plus-square fa-2x"></span></a>
                            <a href="https://www.linkedin.com/shareArticle?mini=true&url={{ site.url }}{{ page.url }}&title={{ page.title }}&summary={{ page.excerpt | strip_html }}&source=" target="_blank" title="LinkedIn"/><span class="fa fa-linkedin-square fa-2x"></span></a>
                            <a href="http://reddit.com/submit?url={{ site.url }}{{ page.url }}&title={{ page.title }}" target="_blank" title="Reddit"/><span class="fa fa-reddit-square fa-2x"></span></a>
                            <a href="http://www.tumblr.com/share/link?url={{ site.url }}{{ page.url }}&name={{ page.title }}&description={{ page.excerpt | strip_html }}" target="_blank" title="Tumblr"/><span class="fa fa-tumblr-square fa-2x"></span></a>
                        </div>
                    </div>
                </div>

                <div class="post superpusharound">
                    <div class="post-comments">
                        {% if page.noComments %}<p><i>Comments have been disabled for this post.</i></p>{% else %}{% include comments.html %}{% endif %}
                    </div>
                </div>

            </div><!-- /container -->
        </div>

    {% include footer.html %}

  </body>

</html>
