<!DOCTYPE html>
<html>

    {% include head.html %}

    <body>
    
        {% include header.html %}
        {% include google_analytics.html %}

        <div class="curtain-header" style="{% if page.header %}background-image: url({{ page.header }});{% elsif page.color %}background-color: {{ page.color }};{% else %}background-image: url('/images/headers/log-header.png');{% endif %}">
            <div class="curtain-overlay-expanded">
                <div class="container col-md-offset-2 col-md-8">
                    <div class="expanded-overlay-content">
                        <h3><a href="/log/">Adventure Log</a></h3>
                        <h1>{{ page.title }}</h1>
                        <p class="tags">
                        {% for tags in page.tags %}<span><a href="/log/tag/{{ tags }}/">{{ tags }}</a></span>{% endfor %}
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <div class="coverup">
            <div class="container pushdown page-content col-md-offset-2 col-md-8">

                <div class="post">
                    <p class="post-meta">{{ page.date | date_to_string }}</p>

                    <article class="post-content">
                        {{ content }}
                    </article>

                    <div class="div-column-left">
                        <div class="divider"><div class="inner"></div></div>
                    </div>
                    <div class="div-column-center">
                        <div class="col-center">
                            <div class="social-icons-large">
                                <a href="https://www.facebook.com/sharer/sharer.php?u={{ site.url }}{{ page.url }}" target="_blank"><img src="/images/icons/facebook.png" title="Facebook" alt="Facebook" /></a>
                                <a href="https://twitter.com/intent/tweet?url={{ site.url }}{{ page.url }}&text={{ page.title }}&via=ImperatorTorres" target="_blank"><img src="/images/icons/twitter.png" title="Twitter" alt="Twitter" /></a>
                                <a href="https://plus.google.com/share?url={{ site.url }}{{ page.url }}" target="_blank"><img src="/images/icons/googleplus.png" title="Google+" alt="Google+" /></a>
                                <a href="https://www.linkedin.com/shareArticle?mini=true&url={{ site.url }}{{ page.url }}&title={{ page.title }}&summary={{ page.excerpt | strip_html }}&source=" target="_blank"><img src="/images/icons/linkedin.png" title="LinkedIn" alt="LinkedIn" /></a>
                            </div>
                        </div>
                    </div>
                    <div class="div-column-right">
                        <div class="divider"><div class="inner"></div></div>
                    </div>


                    <div class="col-center">
                        <div class="social-icons-large">
                            <a href="/log/"><img src="/images/icons/back.png" title="Back to Adventure Log" alt="Back to Adventure Log"/></a>
                        </div>
                    </div>
                    
                    {% if page.noComments == true %}<p><i>Comments have been disabled for this post.</i></p>{% else %}{% include comments.html %}{% endif %}

                </div>

            </div>
        </div>

    {% include footer.html %}

  </body>

</html>
