<!DOCTYPE html>
<html>

    {% include head.html %}

    <body>
    
        {% include header.html %}
        {% include google_analytics.html %}

        <div class="curtain-header" style="{% if page.header %}background-image: url({{ page.header }});{% elsif page.color %}background-color: {{ page.color }};{% else %}background-image: url('/images/headers/projects-header.png');{% endif %}">
            {% if page.picoverlay %}
            <div class="curtain-overlay">
                <img src="{{ page.picoverlay }}" class="border-override" />
            </div>
            {% else %}
            <div class="curtain-overlay-expanded">
                <div class="container col-md-offset-2 col-md-8">
                    <div class="expanded-overlay-content">
                        <h3><a href="/projects/">Projects</a></h3>
                        <h1>{{ page.title }}</h1>
                        <p class="tags">
                        {% for tags in page.categories %}<span>{{ tags }}</span>{% endfor %}
                        </p>
                    </div>
                </div>
            </div>
            {% endif %}
        </div>

        {% if page.google_play or page.myo_market %}
        <div class="market-badges">
            {% if page.google_play %}
            <a href="{{ page.google_play }}"><img src="/images/icons/ps_badge.png" /></a>
            {% endif %}
            {% if page.myo_market %}
            <a href="{{ page.myo_market }}"><img src="/images/icons/myo_badge.png" /></a>
            {% endif %}
        </div>
        {% endif %}

        <div class="coverup">
            <div class="container pushdown page-content col-md-offset-2 col-md-8">

                <div class="post">

                    <article class="post-content">
                        {{ content }}
                    </article>

                    <div class="col-center">
                        <div class="social-icons-large">
                            <a href="/projects/" title="Back to Projects"><span class="fa fa-arrow-circle-o-left fa-3x"></span></a>
                            {% if page.github %}<a href="{{ page.github }}" title="{{ page.title }} on GitHub"><span class="fa fa-github fa-3x"></span></a>{% endif %}
                        </div>
                    </div>
                    
                </div>

            </div><!-- /container -->
        </div>

        {% include footer.html %}

  </body>

</html>
