<!DOCTYPE html>
<html>

    {% include head.html %}

    <body>
    
        {% include header.html %}
        {% include google_analytics.html %}

        <div class="curtain-header" style="{% if page.header %}background-image: url({{ page.header }});{% elsif page.color %}background-color: {{ page.color }};{% else %}background-image: url('/images/headers/projects-header.png');{% endif %}">
            {% if page.picoverlay %}
            <div class="curtain-overlay">
                <img src="{{ page.picoverlay }}" class="border-override" />
            </div>
            <div class="curtain-spacer"></div>
            {% else %}
            <div class="curtain-overlay-expanded">
                <div class="container col-md-offset-2 col-md-8">
                    <div class="expanded-overlay-content">
                        <h3><a href="/projects/">Projects</a></h3>
                        <h1>{{ page.title }}</h1>
                        <p class="tags">
                        {% for tags in page.tags %}<span>{{ tags }}</span>{% endfor %}
                        </p>
                    </div>
                    <div class="curtain-spacer"></div>
                </div>
            </div>
            {% endif %}
        </div>

        <div class="content-lifter">

            <div class="container pushdown page-content col-md-offset-2 col-md-8">

                <div class="post">

                    <article class="post-content">
                        {{ content }}
                    </article>

                    <div class="col-center">
                        <div class="social-icons-large">
                            <a href="/projects/" title="Back to Projects"><span class="fa fa-chevron-circle-left fa-2x"></span></a>
                            <a href="https://www.facebook.com/sharer/sharer.php?u={{ site.url }}{{ page.url }}" target="_blank" title="Facebook"/><span class="fa fa-facebook-square fa-2x"></span></a>
                            <a href="https://twitter.com/intent/tweet?url={{ site.url }}{{ page.url }}&text={{ page.title }}&via=ImperatorTorres" target="_blank" title="Twitter"/><span class="fa fa-twitter-square fa-2x"></span></a>
                            <a href="https://plus.google.com/share?url={{ site.url }}{{ page.url }}" target="_blank" title="Google+"/><span class="fa fa-google-plus-square fa-2x"></span></a>
                            <a href="https://www.linkedin.com/shareArticle?mini=true&url={{ site.url }}{{ page.url }}&title={{ page.title }}&summary={{ page.excerpt | strip_html }}&source=" target="_blank" title="LinkedIn"/><span class="fa fa-linkedin-square fa-2x"></span></a>
                            <a href="http://reddit.com/submit?url={{ site.url }}{{ page.url }}&title={{ page.title }}" target="_blank" title="Reddit"/><span class="fa fa-reddit-square fa-2x"></span></a>
                            <a href="http://www.tumblr.com/share/link?url={{ site.url }}{{ page.url }}&name={{ page.title }}&description={{ page.excerpt | strip_html }}" target="_blank" title="Tumblr"/><span class="fa fa-tumblr-square fa-2x"></span></a>
                        </div>
                    </div>
                    <!--
                    Liquid Math LOL
                    {%if page.github %}
                    {% increment count %}
                    {% endif %}
                    {%if page.link %}
                    {% increment count %}
                    {% endif %}
                    {%if page.download %}
                    {% increment count %}
                    {% endif %}
                    -->
                    {% if page.github or page.link or page.download %}
                    <div class="hidden-xs">
                        <div class="external-link-box">
                            {% if page.github %}
                            <a href="{{ page.github }}" class="external-link-cell" style="width: {{ 100 | divided_by: count}}%;" title="Open Code">
                                <p><span class="fa fa-github"></span>Open Code</p>
                            </a>
                            {% endif %}
                            {% if page.link %}
                            <a href="{{ page.link }}" class="external-link-cell" style="width: {{ 100 | divided_by: count}}%;" title="Open Website">
                                <p><span class="fa fa-external-link"></span>Open Website</p>
                            </a>
                            {% endif %}
                            {% if page.download %}
                            <a href="{{ page.download }}" class="external-link-cell" style="width: {{ 100 | divided_by: count}}%;" title="Download">
                                <p><span class="fa fa-download"></span>Download</p>
                            </a>
                            {% endif %}
                        </div>
                    </div>
                    <div class="visible-xs">
                        {% if page.github %}
                        <div class="external-link-box">
                            <a href="{{ page.github }}" class="external-link-cell" style="width: 100%;" title="Open Code">
                                <p><span class="fa fa-github"></span>Open Code</p>
                            </a>
                        </div>
                        {% endif %}
                        {% if page.link %}
                        <div class="external-link-box">
                            <a href="{{ page.link }}" class="external-link-cell" style="width: 100%;" title="Open Website">
                                <p><span class="fa fa-external-link"></span>Open Website</p>
                            </a>
                        </div>
                        {% endif %}
                        {% if page.download %}
                        <div class="external-link-box">
                            <a href="{{ page.download }}" class="external-link-cell" style="width: 100%;" title="Download">
                                <p><span class="fa fa-download"></span>Download</p>
                            </a>
                        </div>
                        {% endif %}
                    </div>
                    {% endif %}
                    
                </div>

            </div><!-- /container -->
        </div>

        {% include footer.html %}

  </body>

</html>
