<!DOCTYPE html>
<html>

    {% include head.html %}

    <body>

        {% include header.html %}
        {% include google_analytics.html %}

        <div class="curtain-header curtain-header-page" style="{% if page.header %}background-image: url('{{ page.header }}'){% elsif page.color %}background-color: {{ page.color }}{% else %}background-image: url('/images/headers/projects-header.png'){% endif %};">
        </div>
        <div class="post-wrapper">
            <div class="container col-md-offset-2 col-md-8 uncard">
                {% if page.picoverlay %}
                <div class="curtain-overlay">
                    <div class="curtain-overlay-container">
                        <img src="{{ page.picoverlay }}" />
                    </div>
                </div>
                {% else %}
                <div class="curtain-overlay-expanded recard">
                    <div class="expanded-overlay-content">
                        <h3><a href="/projects/">Projects</a></h3>
                        <h1>{{ page.title }}</h1>
                        <p class="tags">
                        {% for tags in page.tags %}<span>{{ tags }}</span>{% endfor %}
                        </p>
                    </div>
                </div>
                {% endif %}

                <div class="post pushdown page-content">

                    <article class="post-content">
                        {{ content }}
                    </article>

                    <!--
                    Liquid Math LOL
                    {%if page.github %}
                    {% increment count %}
                    {% endif %}
                    {%if page.link %}
                    {% increment count %}
                    {% endif %}
                    {%if page.download %}
                    {% increment count %}
                    {% endif %}
                    -->
                    {% if page.github or page.link or page.download %}
                    <div class="hidden-xs">
                        <div class="external-link-box">
                            {% if page.link %}
                            <a href="{{ page.link }}" class="external-link-cell" style="width: {{ 100 | divided_by: count}}%;" title="Open Website">
                                <p><span class="fa fa-external-link-square"></span>Open Website</p>
                            </a>
                            {% endif %}
                            {% if page.download %}
                            <a href="{{ page.download }}" class="external-link-cell" style="width: {{ 100 | divided_by: count}}%;" title="Download">
                                <p><span class="fa fa-cloud-download"></span>Download</p>
                            </a>
                            {% endif %}
                            {% if page.github %}
                            <a href="{{ page.github }}" class="external-link-cell" style="width: {{ 100 | divided_by: count}}%;" title="Open Code">
                                <p><span class="fa fa-code"></span>Open Code</p>
                            </a>
                            {% endif %}
                        </div>
                    </div>
                    <div class="visible-xs">
                        {% if page.link %}
                        <div class="external-link-box">
                            <a href="{{ page.link }}" class="external-link-cell" style="width: 100%;" title="Open Website">
                                <p><span class="fa fa-external-link-square"></span>Open Website</p>
                            </a>
                        </div>
                        {% endif %}
                        {% if page.download %}
                        <div class="external-link-box">
                            <a href="{{ page.download }}" class="external-link-cell" style="width: 100%;" title="Download">
                                <p><span class="fa fa-cloud-download"></span>Download</p>
                            </a>
                        </div>
                        {% endif %}
                        {% if page.github %}
                        <div class="external-link-box">
                            <a href="{{ page.github }}" class="external-link-cell" style="width: 100%;" title="Open Code">
                                <p><span class="fa fa-code"></span>Open Code</p>
                            </a>
                        </div>
                        {% endif %}
                    </div>
                    {% endif %}
                </div>
            </div><!-- /container -->
        </div>
        {% include footer.html %}
  </body>

</html>
