<!DOCTYPE html>
<html>

    {% include head.html %}

    <body>
    
        {% include header.html %}
        {% include google_analytics.html %}

        {% assign header = '/images/headers/log-header.jpg' %}
        {% assign keepLooping = true %}
        {% for post in site.posts %}
            {% for tag in post.tags %}
                {% if tag == page.tag %}
                  {% if post.header %}
                    {% assign header = post.header %}
                    {% assign keepLooping = false %}
                    {% break %}
                  {% endif %}
                {% endif %}
            {% endfor %}
            {% if keepLooping == false %}
              {% break %}
            {% endif %}
        {% endfor %}

        <div class="curtain-header" style="background-image: url({{ header }});">
          <div class="curtain-overlay-expanded">
              <div class="container col-md-offset-2 col-md-8">
                  <div class="expanded-overlay-content">
                      <h3><a href="/log/">Adventure Log</a></h3>
                      <h1>{{ page.title }}</h1>
                  </div>
              </div>
          </div>
        </div>

        <div class="coverup">
            <div class="container pushdown page-content col-md-offset-2 col-md-8">

              <script>
              var container = document.querySelector('.masonry');
              var msnry = new Masonry( container, {
                itemSelector: '.col-sm-6',
                columnWidth: '.col-sm-6'
              });
              </script>

              <div class="row js-masonry" data-masonry-options='{ "itemSelector": ".col-sm-6", "columnWidth": ".col-sm-6" }'>
                  {% for post in site.posts %}
                      {% for tag in post.tags %}
                          {% if tag == page.tag %}
                              <div class="masonry">
                                  <div class="col-sm-6">
                                      <div class="log-entry">
                                      {% if post.preview %}
                                      <div class="log-img">
                                          <a href="{{ post.url }}"><img src="{{ post.preview }}" title="{{ post.title }}" alt="{{ post.title }}"/></a>
                                      </div>
                                      {% endif %}
                                          <div class="log-desc">
                                              <h2><a href="{{ post.url }}">{{ post.title }}</a></h2>
                                              <p class="post-meta">{{ post.date | date_to_string }}</p>
                                              <p>{{ post.excerpt | strip_html }}</p>
                                              <a href="{{ post.url }}" class="more">Read more<span class="fa fa-chevron-circle-right"></span></a>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                          {% endif %}
                      {% endfor %}
                  {% endfor %}
              </div>

            </div><!-- /container -->
        </div>

        {% include footer.html %}

  </body>

</html>
